In [3]:
#dictionary
fav_numbers={'eric':17,'ever':4}
for name,numbers in fav_numbers.items():
    print(name,"",str(numbers))

eric  17
ever  4

In [4]:
#tuples
tup1=(10,20,30)
tup2=('one','two','three')

In [8]:
#loops with tuples
tp1=(1,2,3,4,5,6)
for i in tp1:
    print(i)
tp2=('red','green','blue','black')
for i in tp2:
    print(i)

tp4=(1,2,3,4,5,6,7)
for x in enumerate(tp4):
    print(x)

1
2
3
4
5
6
red
green
blue
black
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)

In [13]:
#current version of anaconda libarary
import sys
print("version",sys.version)

version 3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [15]:
#date and type library
from datetime import datetime
current_dt=datetime.now()
print("current date and time  is",current_dt)

current date and time  is 2024-02-13 09:40:22.614201

In [17]:
name1=input("input your  first name")
name2=input("input your second name")
print(name2," ",name1)

input your  first namerr
input your second namerr
rr   rr

In [21]:
numbers_input=input("enter comma separated nubers")
numbers_list=[int(num)for num in numbers_input.split(',')]
numbers_tuple=tuple(numbers_list)
print("list",numbers_list)
print("tuple",numbers_tuple)

enter comma separated nubers1,2,3,4,5,6,7
list [1, 2, 3, 4, 5, 6, 7]
tuple (1, 2, 3, 4, 5, 6, 7)

In [23]:
colour_list=["red","green","white","black"]
print(colour_list[0],colour_list[3])

red black

In [26]:
#
first_set={1,5,7,4,5}
second_set={4,5,6,7,8}
new_set=first_set.union(second_set)
print(new_set)

{1, 4, 5, 6, 7, 8}

In [28]:
first_set={1,5,7,4,5}
second_set={4,5,6,7,8}
new_set=first_set&second_set
print(new_set)

{4, 5, 7}

In [30]:
first_set={1,5,7,4,5}
second_set={4,5,6,7,8}
new_set=first_set.intersection(second_set)
print(new_set)

{4, 5, 7}

In [33]:
first_set={1,5,7,4,5}
second_set={4,5,6,7,8}
new_set=first_set.difference(second_set)
print(new_set)

{1}

In [38]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'google', 'microsoft', 'cherry', 'banana'}

In [49]:
#write a programme to find a sallest number in a given ist 
def findmin(nubers):
    if not numbers:
        return "list is empty"
    small_num=min(numbers)
    return small_num
num_list=[11,1,2,3,56,7]
small=findmin(num_list)
print(small)

TypeError: 'int' object is not iterable

In [53]:
#define a function that accepts a sentence  and counts the word  number

def count_words(sentence):
    words=sentence.split()
    return len(words)
sen=input("input sentence:")
count=count_words(sen)
print("number of words is",count)

input sentence:ane manda
number of words is 2

In [58]:
#anonymous functions
x=lambda a:a+10
print(x(5))

15

In [64]:
#anonymous functons
y=lambda p,q,r:p+q+r
print(y(6,8,9))

23

In [ ]:
#numpy arrys