In [1]:
num1 = int(input('enter first number: '))
num2 = int(input('enter second number: '))
if num1>num2 :
  max = num1
else:
  max = num2  

print(f'MAX = {max}')

enter first number: 10
enter second number: 20
MAX = 20

In [4]:
num = int(input('Enter a number: '))

if num < 0:
    print('Enter a positive number!')
print('Good job!')

Enter a number: -12
Enter a positive number!
Good job!

In [5]:
num = int(input('Enter a num: '))

if num < 0:
    print('Enter a positive number!')
else:
    print('Good job!')

Enter a number: -12
Enter a positive number!

In [10]:
mark = int(input('Enter your grade: '))

if mark >= 75:
    grade = 'A'

if mark >= 65 and mark <75:
    grade = 'B'
    
if mark >= 50 and mark <65:
    grade = 'C'
    
if mark >= 35 and mark <50:
    grade = 'S'

if mark < 35:
    grade = 'F'
    
print(f'Your grade: {grade}')

Enter your grade: 99
Your grade: A

In [3]:
print('abc','xyz')
print('abc','xyz',sep='--')

abc xyz
abc--xyz

In [5]:
num1 = int(input('enter first number: '))
num2 = int(input('enter second number: '))

pow(num1,num2)

enter first number: 2
enter second number: 3

8

In [7]:
num1 = int(input('enter first number: '))
num2 = int(input('enter second number: '))

power = pow(num1,num2)

print(f'{num1} ** {num2} = {power}')

enter first number: 2
enter second number: 3
2 ** 3 = 8

In [5]:
import random

x = random.randint(1,10)
y 
print(x)

7

In [3]:
import datetime
name = input("Enter your name: ")
by = int(input("Enter birth year: "))

today = datetime.date.today()
year = today.year

age = year - by
print(f'{name} you are {age} years old')

Enter your name: naveen
Enter birth year: 2002
naveen you are 22 years old

In [5]:
import math
a = float(input('Enter a float number: '))
print(f'Root of {a} is {math.sqrt(a)}')

Enter a float number: 1233.3
Root of 1233.3 is 35.11837126063793

In [14]:
x = int(input('enter first number: '))
y = int(input('enter second number: '))

def findsum(num1,num2):
    sum = num1 + num2
    return  sum

print(f'Sum is {findsum(x,y)}')

enter first number: 10
enter second number: 10
Sum is 20

In [13]:
def findsum2():
    num1 = int(input('enter first number: '))
    num2 = int(input('enter second number: '))
    sum = num1 + num2
    print(f'Sum is {sum}')
    
findsum2()

enter first number: 10
enter second number: 20
Sum is 30

In [20]:
x = int(input('enter first number: '))
y = int(input('enter second number: '))

def findmul(num1,num2):
    return  num1*num2

print(f'{x}*{y} = {findmul(x,y)}')

enter first number: 2
enter second number: 32
2*32 = 64

In [26]:
num = 1
while num <=100:
    print(num, end= " ")
    num += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [35]:
for i in 'NSBM Green University':
    print(i)

N
S
B
M

G
r
e
e
n

U
n
i
v
e
r
s
i
t
y

In [37]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
color = ['White','Red','Blue']
vehical = ['Car','Van','Jeep']

for i in color:
    for j in vehical:
        print(f'{i} {j}')

White Car
White Van
White Jeep
Red Car
Red Van
Red Jeep
Blue Car
Blue Van
Blue Jeep

In [46]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [47]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [48]:
sum = 0

for i in range(1,11):
    sum += i

print(sum)

55

In [ ]:
#Dictionaties

In [51]:
term = dict()
term['1'] = 'one'                        
term['2'] = 'two'
term['3'] = 'three'

print(term)
print(term['1'])

{'1': 'one', '2': 'two', '3': 'three'}
one

In [2]:
temp = {'color':'red','num':1,'shape':'square'}                # key : value
print(temp)
print(temp['color'])

{'color': 'red', 'num': 1, 'shape': 'square'}
red

In [ ]:
#Looping through all key-value pairs

In [6]:
fav_numbers = {'eric':1, 'even':2}
for name,number in fav_numbers.items():
    print(f'{name} like {str(number)}')

eric like 1
even like 2

In [ ]:
#Looping through only keys

In [7]:
fav_numbers = {'eric':1, 'even':2}
for name in fav_numbers.keys():
    print(f'{name} like number')

eric like number
even like number

In [ ]:
#Looping through only values

In [8]:
fav_numbers = {'eric':1, 'even':2}
for number in fav_numbers.values():
    print(f'{number} is liked')

1 is liked
2 is liked

In [ ]:
#Tuples

In [ ]:
tuple_name = (value1,value2,.....)  # It can have only integers, char, nested tuples and with mixed data types

In [9]:
tuple1 = ('test1', 'test2', 'naveeen' , 2)
print(tuple1)

('test1', 'test2', 'naveeen', 2)

In [11]:
tuple1[1:3]

('test2', 'naveeen')

In [15]:
mytuple = ('red','green','blue')
for i in mytuple:
    print(i)

red
green
blue

In [17]:
for i in enumerate(mytuple):       # get a output with the index (enumarate)
    print(i)

(0, 'red')
(1, 'green')
(2, 'blue')

In [20]:
mytuple2 = (1,2,3,4,4,4,5,6,4,3,2,3,4,5)
sorted(mytuple2)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 6]

In [ ]:
# Sets

In [22]:
myset = {1,2,3,4,5,6} #Unorderd and Unindexed collection of items, all elements should be unique

In [24]:
for i in myset:
    print(i, end=" ")

1 2 3 4 5 6

In [ ]:
#Set Operations

In [26]:
#Union

first_set = {1,2,3,4,5}
second_set = {1,4,6,7,2}

new_set1 = first_set|second_set 
new_set2 = first_set.union(second_set)

print(new_set1)
print(new_set2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [27]:
#Intersection

new_set3 = first_set&second_set 
new_set4 = first_set.intersection(second_set)

print(new_set3)
print(new_set4)

{1, 2, 4}
{1, 2, 4}

In [29]:
#Difference

new_set5 = first_set.difference(second_set)

print(new_set5)

{3, 5}

In [30]:
#Symmetric Difference

x = {'apple','banana','cherry'}
y = {'google','microsoft','apple'}

z = x.symmetric_difference(y)

print(z)

{'banana', 'google', 'cherry', 'microsoft'}

In [ ]:
# Superset, Subset & Disjoint (https://www.gkindex.com/python-tutorial/python-sets-intro.jsp)

In [ ]:
# Anonymous Functions

In [36]:
x=lambda a : a+10                   # x is the function name, a is the variable, a+10 is the operation done by this lambda func
print(x(5))

15

In [37]:
y=lambda p,q,r : p+q+r                  
print(y(5,6,7))

18